/* Section sizing */
.section-sizing{
    min-height: 100vh;
}


/* NavBar.tsx */
#nav-container{
    width:100%; 
    justify-content: space-between;
    display: flex;
}

.nav-links li{
    display: inline;
    padding-left: 5%;
}

.nav-links a{
    color: black;
}


/* Landing.tsx */
#landing{
    padding-top: 30vmin;
    display: flex;
    margin-left: 10%;
    
}
#landing-animation{
    margin-top: -10%;
    width: 25vmax; 
}
#landing-text{
    width: 50%;
}
#landing-text p{
    font-size: 40px;   
}

/* AboutMe.tsx */

#about-right-title{
    margin-left: 5%;
    font-size: 20px;
}

#about-spacing{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
#about-left{
   max-width: 550px;
}
#about-left p{
    font-size: 18px;
}
