/* Section sizing */
.section-sizing{
    min-height: 100vh;
}


/* NavBar.tsx */
#nav-container{
    width:100%; 
    justify-content: space-between;
    display: flex;
}

.nav-links li{
    display: inline;
    padding-left: 5%;
}

.nav-links a{
    color: black;
}


/* Landing.tsx */
#landing{
    margin-top: 30vmin;
    display: flex;
    margin-left: 15%;
}
#landing-animation{
    margin-top: -10%;
    width: 25vmax; 
}
#landing-text{
    width: 50%;
}
#landing-text p{
    font-size: 40px;   
}
