@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,500&display=swap');
:root{
  font-family: 'Montserrat', sans-serif;
  margin: 2vmin;
}
a {
  text-decoration: none ;
}
a:hover {
  cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

p{
  font-size: 15px;
  margin: 0;
  padding: 0;
}

